    /*=============================
        Reset CSS
  ===========================*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote {
        &:before,
        &:after {
            content: '';
            content: none;
        }
    }
    
    q {
        &:before,
        &:after {
            content: '';
            content: none;
        }
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    /*=============================
            Variables
  ===========================*/
    /***** colors**********/
    
    $color-primary: #f97f73;
    $color-secondary: #67b6be;
    $color-white:#ffffff;
    $color-grey: #898989;
    $color-light-grey:#676767;
    $color-main: #634841;
    $color-red:#e23509;
    $color-red-2:#ff3500;
    $color-black:#000000;
    $color-grey-2 :#f9f8fd;
    /*=========fonts ======*/
    
    $base-font-size: 14px;
    $base-line-height: 1.43;
    $font-s: 12px;
    $font-m: 16px;
    $font-l: 18px;
    $font-xl: 20px;
    $font-xxl: 22px;
    /*=============================
                Typography
    ===========================*/
    /****************Font families*************/
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    $base-font-family: 'Montserrat',
    sans-serif;
    // $alt-font-family:;
    // Headings
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $base-font-family;
        font-weight: 600;
        color: $color-main;
    }
    
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 16px;
    }
    
    h6 {
        font-size: 14px;
    }
    
    a {
        text-decoration: none;
        color: $color-black;
    }
    /*=============================
            Mixins
  ===========================*/
    /* border-radius mixin */
    
    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }
    /* box-shadow mixin */
    
    @mixin box-shadow($args...) {
        -webkit-box-shadow: $args;
        -moz-box-shadow: $args;
        -ms-box-shadow: $args;
        box-shadow: $args;
    }
    /* color with opacity mixin */
    
    @mixin color-opacity($color,
    $opacity) {
        color: rgba($color, $opacity);
    }
    /* border-color with opacity mixin */
    
    @mixin border-color-opacity($color,
    $opacity) {
        border-color: rgba($color, $opacity);
    }
    
    @mixin flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    /* justify-content mixin */
    
    @mixin justify-content($justify) {
        -webkit-justify-content: $justify;
        -moz-justify-content: $justify;
        -ms-justify-content: $justify;
        justify-content: $justify;
        -ms-flex-pack: $justify;
    }
    /* align-items mixin */
    
    @mixin align-items($align-horizontally) {
        -webkit-align-items: $align-horizontally;
        -moz-align-items: $align-horizontally;
        -ms-align-items: $align-horizontally;
        align-items: $align-horizontally;
    }
    
    // flex-direction
    @mixin flex-direction($direction) {
        -webkit-box-orient: $direction;
        -webkit-box-direction: $direction;
        -ms-flex-direction: $direction;
        flex-direction: $direction;
    }
    
    // flex-size
    @mixin flex-size($width) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 $width;
        flex: 0 0 $width;
        max-width: $width;
    }
    /*text alignments*/
    
    @mixin text-align($align) {
        text-align: $align;
    }
    /*text weight*/
    
    @mixin font-weight($weight) {
        font-weight: $weight;
    }
    /*=============================
            functions
  ===========================*/
    
    // margins and paddings 
    $spaceamounts: (5,
    10,
    15,
    20,
    25,
    30,
    35,
    40,
    45,
    50,
    75,
    100); // Adjust this to include the pixel amounts you need.
    $sides: (top,
    bottom,
    left,
    right); // Leave this variable alone
    @each $space in $spaceamounts {
        @each $side in $sides {
            .m-#{str-slice($side, 0, 1)}-#{$space} {
                margin-#{$side}: #{$space}px !important;
            }
            .p-#{str-slice($side, 0, 1)}-#{$space} {
                padding-#{$side}: #{$space}px !important;
            }
        }
    }