/*=============================
           Buttons
  ===========================*/

.btn {
    display: inline-block;
    padding: 9px 38px;
    color: $color-white;
    border: 1px solid;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    @include text-align(center);
    min-width: 140px;
    cursor: pointer;
    max-width: 100%;
}

.btn-primary {
    @extend .btn;
    border-color: $color-primary;
    background-color: $color-primary;
    &.transparent {
        background-color: transparent;
        color: $color-primary;
    }
    &.w-100 {
        width: 100%;
    }
    &.btn-small {
        padding: 5px 24px;
    }
}

.btn-secondary {
    @extend .btn;
    border-color: $color-secondary;
    background-color: $color-secondary;
    &.transparent {
        background-color: transparent;
        color: $color-secondary;
    }
    &.w-100 {
        width: 100%;
    }
    &.btn-small {
        padding: 5px 24px;
    }
}

.btn-red {
    @extend .btn;
    border-color: $color-red-2;
    background-color: $color-red-2;
    &.transparent {
        background-color: transparent;
        color: $color-red-2;
    }
    &.w-100 {
        width: 100%;
    }
    &.btn-small {
        padding: 5px 24px;
    }
}


/*=============================
          Forms
  ===========================*/

.input-container {
    width: 100%;
    position: relative;
    border-bottom: solid 0.5px rgba($color-black, 0.5);
    padding-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    .form-input {
        width: 100%;
        border: 0;
        font-size: 18px;
        line-height: 1.1;
        color: $color-black;
        &:focus {
            outline: none;
        }
    }
    select.form-input~.input-icon {
        img {
            max-width: 9px;
        }
    }
    .custom-placeholder {
        color: rgba($color-black, .5);
        position: absolute;
        top: 18px;
        left: 0;
        font-size: 16px;
        width: auto;
        background: #fff;
    }
    .input-icon {
        position: absolute;
        top: 20px;
        right: 10px;
        max-width: 20px;
    }
    &.focused {
        border-bottom: solid 0.5px rgba($color-black, 1);
        .custom-placeholder {
            top: -5px;
        }
    }
    &.shadowed {
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(114, 114, 114, 0.16);
        background-color: #ffffff;
    }
    &.bg-grey {
        background-color: $color-grey-2;
        .form-input {
            background-color: $color-grey-2;
        }
    }
    &.no-border {
        border: 0;
    }
    &.no-pad {
        padding: 0;
    }
    &.no-margin {
        margin: 0;
    }
}

.btn-add {
    display: inline-block;
    border: 1px solid $color-grey;
    color: $color-black;
    border-radius: 6px;
    min-width: 80px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    span {
        color: $color-primary;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-counter {
    @include flex;
    @include justify-content(space-around);
    color: $color-black;
    border-radius: 6px;
    min-width: 80px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid $color-grey;
    span {
        display: inline-block;
        width: 20px;
        color: $color-primary;
        font-size: 16px;
        cursor: pointer;
        &.count {
            color: $color-black;
        }
    }
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
}

::-webkit-input-placeholder {
    color: $color-light-grey;
}

::-moz-placeholder {
    color: $color-light-grey;
}

:-ms-input-placeholder {
    color: $color-light-grey;
}

::-ms-input-placeholder {
    color: $color-light-grey;
}

::placeholder {
    color: $color-light-grey;
}

// custom radio
.custom-input [type="radio"]:checked,
.custom-input [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom-input [type="radio"]:checked+span,
.custom-input [type="radio"]:not(:checked)+span {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    // color: #;
}

.custom-input [type="radio"]:checked+span:before,
.custom-input [type="radio"]:not(:checked)+span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $color-primary;
    border-radius: 100%;
    background: #fff;
}

.custom-input [type="radio"]:checked+span:after,
.custom-input [type="radio"]:not(:checked)+span:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $color-primary;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom-input [type="radio"]:not(:checked)+span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom-input [type="radio"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// custom radio 2
.custom-radio-2 {
    position: relative;
    cursor: pointer;
    input {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked~span {
            background-color: $color-secondary;
            color: $color-white;
        }
    }
    span {
        display: inline-block;
        padding: 2px 5px;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        border-radius: 50px;
    }
}

// food type
.food-type {
    position: relative;
    width: 25px;
    display: inline-block;
}

.food-type:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 0;
    top: 6px;
    background-color: $color-white;
}

.food-type:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.food-type.veg:before {
    border: 1px solid #019865;
}

.food-type.veg:after {
    background-color: #019865;
}

.food-type.non-veg:before {
    border: 1px solid #cc0001;
}

.food-type.non-veg:after {
    background-color: #cc0001;
}

// custom scrollbar

/* total width */

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}


/* scrollbar itself */

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}


/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
    display: none
}